body {
	margin: 0px;
	background: url("../images/fresh_snow.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

header {
	background-color: #ffffff;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #cccccc;
	max-width: 2000px;
	min-width: 1600px;
	height: 90px;
}
 
h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#name {
	background-color: #4aaaa5;
	color: #ffffff;
	height: 90px;
	width: 350px;
	text-align: center;
	margin: 0px 0px 0px 156px;
	vertical-align: middle;
	line-height: 90px;
}

#pageLinks {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/*position: absolute;*/
	font-size: 20px;
}

.navigation {
	position: relative;
	right: -960px;
    top: -55px;
}

.navigation:link {
	color: #777;
}

.navigation:visited {
	color: #777;
}

.navigation:link {
	text-decoration: none;
}

#wrapper {
	clear: both;
	float: left;
	background-color: #ffffff;
	padding: 30px 30px 30px 30px;
	margin-top: 30px;
	margin-left: 156px;
	margin-right: 0px;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	max-width: 650px;
}

.bio {
	/*line-height: 1.7em;*/
	font-size: 20px;
	margin: 0px;
}

#aboutMe {
	color: #4aaaa5;
	align-content: center;
	padding: 0px 0px 30px 0px;
	border-style: solid;
	border-color: #ddd;
	border-width: 0px 0px 3px 0px;
	margin-bottom: 30px;
	margin-top: 0px;
}

#profilePic {
	padding-right: 30px;
}

#connect {
	float:right;
	position: relative;
	background-color: #ffffff;
	padding: 30px 40px 30px 40px;
	margin-top: 30px;
	right: 351px;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	max-width: 270px;
	max-height: 200px;
}

#connectHeader {
	color: #4aaaa5;
	clear:both;
	text-align: center;
	margin: 0px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #ddd;
}

.connectImg {
	max-width: 82px;
	max-height: 82px;
	margin-top: 20px;
}

footer {
	clear: both;
	background-color: #666;
	border-style: solid;
	border-color: #4aaaa5;
	border-width: 8px 0px 0px 0px;
	height: 94px;
}

#copyright {
	color: #ddd;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}